table {
  background-color: #fff;
  width: 912px;
  table-layout: fixed;
  border-collapse: separate;
}

table thead {
  border-bottom: 1px solid #eee;
}

.App {
  overflow: hidden;
}

p {
  margin: 0;
}

.table__edit {
  display: flex;
}

.edit__icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.edit__icon--down {
  height: 14px;
  width: 14px;
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 10px;
}

.edit__icon--up {
  transform: rotate(180deg);
  height: 14px;
  width: 14px;
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 10px;
}

.edit__icon.delete {
  background-image: url("../delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.edit__icon.edit {
  background-image: url("../edit.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.edit__icon + .edit__icon {
  margin-left: 32px;
}

tbody tr td:first-child span,
thead tr th:first-child span,
tfoot tr td:first-child span {
  margin-left: 24px;
}

tbody tr td:last-child span {
  margin-right: 24px;
  float: right;
  text-align: right;
}

table thead th {
  height: 48px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

tbody tr {
  height: 72px;
}

table td,
table th {
  border-bottom: 1px solid #ebeef5;
  padding: 12px 0;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
}

tbody tr,
tfoot tr {
  font-size: 16px;
  color: #505050;
}

input {
  font-size: 16px;
  color: #505050;
  border: 1px solid #eeeeee;
  background: #fafafa;
  padding: 10px 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
input:focus {
  border: 1px solid #e0dddd;
}

.form {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.form .btn-default,
.form .btn-main {
  float: right;
}

button + button {
  margin-right: 10px;
}

.form > div {
  display: inline-block;
  position: relative;
}

.form > div + div {
  margin-left: 16px;
}

.table tr th:nth-child(1) {
  width: 220px;
}

.table tr th:nth-child(2) {
  width: 280px;
}

span.error-msg {
  position: absolute;
  font-size: 12px;
  left: 6px;
  top: 36px;
  /* display: block; */
  /* position: relative; */
  padding-left: 10px;
  padding-top: 6px;
}

.form-header input {
  display: inline;
}

.form > div:nth-child(1) .form__section {
  width: 160px;
}

.form > div:nth-child(2) .form__section {
  width: 220px;
}

.heading {
  color: #757575;
  font-weight: 500;
  font-size: 26px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.list-item:hover {
  background: #fbfbfb;
}

/* 
.table-wrapper {
  height: 500px;
  overflow: scroll;
}

tbody {
  width: 920px;
  display: block;
} */

/* td:first-child {
  width: 20%;
}

td .td__email {
  width: 30%;
}
td.td__phone {
  width: 30%;
}
.td__edit {
  width: 10%;
} */
